*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
html , body{
    height: 100%;
    width: 100%;
}

main{
    height: 100%;
    width: 100%;
    background-color: rgb(161, 161, 161);
    display: flex;
    align-items: center;
    justify-content: center;
}

.piano-div {
    width: 70%;
    height: 45%;
    background-color: #fff;
    border-radius: 1em;
    display: flex;
    gap: 0.2rem;
    padding: 0.2rem;
}

.piano-div .keys-outer {
    width: 7.4%;
    height: 100%;
    background-color: #e2e2e2;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 0 1rem 0;
}

.keys-outer .keys-inner {
    width: 80%;
    height: 60%;
    background-color: #000;
    border-radius: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 1rem;
}

.active {
    scale: 0.95;
    transition: all ease 0.1s;
}

.keys-inner h1 {
    color: #fff;
    font-size: 2.5rem;
}

.keys-outer h1 {
    font-size: 2.5rem;
}
